.clip-text-3em {
  width: 3em;
}

.clip-text-5em {
  width: 5em;
}

.clip-text-7em {
  width: 7em;
}

.clip-text-9em {
  width: 9em;
}

.clip-text-10em {
  width: 10em;
}

.clip-text-25em {
  width: 25em;
}
