@use '@angular/material' as mat;

@import "roboto";

// https://github.com/angular/components/blob/master/src/material/core/typography/_typography.scss, 8/13/2021
$app-typography: mat.define-typography-config(
  $font-family:   'Roboto, "Helvetica Neue", sans-serif',
  $display-4:    mat.define-typography-level($font-size: 8rem,    $line-height: 8rem,    $font-weight: 300, $letter-spacing: -0.05em),
  $display-3:    mat.define-typography-level($font-size: 4rem,    $line-height: 4rem,    $font-weight: 400, $letter-spacing: -0.02em),
  $display-2:    mat.define-typography-level($font-size: 3.21rem, $line-height: 3.42rem, $font-weight: 400, $letter-spacing: -0.005em),
  $display-1:    mat.define-typography-level($font-size: 2.42rem, $line-height: 2.85rem, $font-weight: 400),
  $headline:     mat.define-typography-level($font-size: 1.71rem, $line-height: 2.28rem, $font-weight: 400),
  $title:        mat.define-typography-level($font-size: 1.42rem, $line-height: 2.28rem, $font-weight: 500),
  $subheading-2: mat.define-typography-level($font-size: 1.14rem, $line-height: 2rem,    $font-weight: 400),
  $subheading-1: mat.define-typography-level($font-size: 1.07rem, $line-height: 1.71rem, $font-weight: 400),
  $body-2:       mat.define-typography-level($font-size: 1rem,    $line-height: 1.71rem, $font-weight: 500),
  $body-1:       mat.define-typography-level($font-size: 1rem,    $line-height: 1.42rem, $font-weight: 400),
  $caption:      mat.define-typography-level($font-size: 0.85rem, $line-height: 1.42rem, $font-weight: 400),
  $button:       mat.define-typography-level($font-size: 1rem,    $line-height: 1rem,    $font-weight: 500),
  // Line-height must be unit-less fraction of the font-size.
  $input:        mat.define-typography-level($font-size: inherit, $line-height: 1.125,   $font-weight: 400)
);
